<app-layout>
    <div class="container tab-container p-5">
        <div class="row">
            <div class="col-md-12 header-txt pb-2" >
                <div class="row">
                    <div class="col-md-4"><i  class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Define Tranportation Fee</span></div>
                    
                </div>
            </div>
        </div>
        
      <form [formGroup]="reportForm">
        <div class="row mt-3">
          <div class="mb-3 col-md-3">
            <label class="form-label">Year <span class="error">*</span></label>
            <select class="form-select" formControlName="academicYear">
              <option disabled value="select">Select</option>
              <option *ngFor="let year of aceYear" [value]="year._id">{{year.name}}</option>
            </select>
            <div *ngIf="reportForm.controls['academicYear'].invalid && (reportForm.controls['academicYear'].dirty || reportForm.controls['academicYear'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['academicYear'].errors['required']">
              Year is required.
            </div></div>
          </div>
          <div class="mb-3 col-md-3">
            <label class="form-label">Distance <span class="error">*</span></label>
            <input type="text" class="form-control"  formControlName="distance">           
            <div *ngIf="reportForm.controls['distance'].invalid && (reportForm.controls['distance'].dirty || reportForm.controls['distance'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['distance'].errors['required']">
              Distance is required.
            </div></div>
          </div>
          <div class="mb-3 col-md-3">
            <label class="form-label">Amount <span class="error">*</span></label>
            <input type="number" class="form-control"  formControlName="amount">  
            <div *ngIf="reportForm.controls['amount'].invalid && (reportForm.controls['amount'].dirty || reportForm.controls['amount'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['amount'].errors['required']">
              Amount is required.
            </div></div>
          </div>
          <div class="mb-3 col-md-3 mt-4">
            <button class="btn" (click)="submitData(reportForm)"  [disabled]="!reportForm.valid">Save</button>
        </div>
      </div>
    </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table mt-3">
                    <thead>
                      <tr>
                        <th width="10%">S. No</th>
                        <th width="20%"> Year</th>
                        <th width="20%">Code</th>
                        <th width="20%">Distance</th>
                        <th >Amount</th>
                        <th width="15%" >Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let row of transportList; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td >{{row.year}}</td>
                                <td >{{row.code}}</td>
                                <td>{{row?.distance}}</td>
                                 <td >{{row.amount}}</td> 
                                 <td >  <button class="btn emp-edit me-1" (click)="editCategory(row)"><i class="fa-solid fa-pencil"></i></button>
                                  <button class="btn emp-edit ms-1" (click)="openDeleteModal(deletemplate, row)"><i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                        </ng-container>
                      </tbody>                     
                </table>
            </div>
        </div>

    </div>
</app-layout>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deletePopup()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancle</button>
      </div>
  </div>
</ng-template>


