<app-layout>
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="modal-header">
          <h6 class="modal-title header-txt">
            <i _ngcontent-dan-c162="" class="fa-solid fa-user-tie"></i
            >&nbsp;&nbsp; <span>Salary Details</span>
          </h6>
          <button (click)="backButtonClick()" class="btn-c">Back</button>
        </div>
        <div class="row modal-body bg-white p-3">
          <div
            class="col-lg-2 mt-2 d-flex align-items-center justify-content-center"
          >
            <img
              class="w-100 img-thumbnail rounded"
              src="../../../../../assets/images/stud-profile.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-5 mt-2">
            <table>
              <tr>
                <th width="15%">Name</th>
                <td width="25%">{{ employeeDetail?.name }}</td>
              </tr>
              <tr>
                <th width="15%">Joining Date</th>
                <td width="25%">
                  {{ employeeDetail?.joiningDate | date : "medium" }}
                </td>
              </tr>
              <tr>
                <th width="15%">Designation</th>
                <td width="25%">{{ employeeDetail?.designation?.name }}</td>
              </tr>
              <tr>
                <th width="15%">Department</th>
                <td width="25%">{{ employeeDetail?.department?.name }}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="isSalaryDetailAvailable" class="col-lg-5 mt-2">
            <table>
              <tr>
                <th width="15%">Salary Grade</th>
                <td width="25%">
                  {{ employeeDetail?.salaryGrade?.salaryGrade }}
                </td>
              </tr>
              <tr>
                <th width="15%">Basic Salary</th>
                <td width="25%">
                  ${{ employeeDetail?.salaryGrade?.basicSalary }}
                </td>
              </tr>
              <tr>
                <th width="15%">Overtime Rate (Per Hour)</th>
                <td width="25%">
                  ${{ employeeDetail?.salaryGrade?.overTimeRatePerHr }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isSalaryDetailAvailable" class="row">
      <div
        class="col-lg-6 p-0 px-2"
        *ngIf="employeeDetail?.salaryGrade?.allowances"
      >
        <div class="modal-header">
          <h6 class="modal-title header-txt">
            <i _ngcontent-dan-c162="" class="fa-solid fa-money-bill"></i
            >&nbsp;&nbsp; <span>Allowances</span>
          </h6>
        </div>
        <div class="modal-body bg-white p-3">
          <table>
            <tr>
              <th width="15%">Name</th>
              <th width="25%">Amount</th>
            </tr>
            <tr
              *ngFor="
                let allowance of employeeDetail?.salaryGrade?.allowances;
                index as i
              "
            >
              <td>{{ allowance.name }}</td>
              <td>${{ allowance.amount }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-lg-6 p-0" *ngIf="employeeDetail?.salaryGrade?.deductions">
        <div class="modal-header">
          <h6 class="modal-title header-txt">
            <i _ngcontent-dan-c162="" class="fa-solid fa-square-minus"></i
            >&nbsp;&nbsp; <span>Deductions</span>
          </h6>
        </div>
        <div class="modal-body bg-white p-3">
          <table>
            <tr>
              <th width="15%">Name</th>
              <th width="25%">Amount</th>
            </tr>
            <tr
              *ngFor="
                let deduction of employeeDetail?.salaryGrade?.deductions;
                index as i
              "
            >
              <td>{{ deduction.name }}</td>
              <td>${{ deduction.amount }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 header-txt">
        <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i
        >&nbsp;&nbsp;<span>Payment Details</span>
      </div>
    </div>
    <form [formGroup]="paymentFormGroup">
      <div class="row mt-3 mb-3">
        <div class="col-lg-3">
          <label class="form-label">Total Allowance</label>
          <input
            type="text"
            class="form-control"
            formControlName="totalAllowance"
            readonly
          />
        </div>
        <div class="col-lg-3">
          <label class="form-label">Total Deduction</label>
          <input
            type="text"
            class="form-control"
            formControlName="totalDeductions"
            readonly
          />
        </div>
        <div class="col-lg-3">
          <label class="form-label">Overtime Total Hours</label>
          <input
            type="number"
            (input)="onEnterOvertimeHr($event)"
            formControlName="overtimeHrs"
            class="form-control"
          />
        </div>
        <div class="col-lg-3">
          <label class="form-label">Overtime Amount</label>
          <input
            type="text"
            class="form-control"
            formControlName="overtimeAmount"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <label class="form-label">Net Salary</label>
          <input
            type="text"
            class="form-control"
            formControlName="netSalary"
            readonly
          />
        </div>
        <div class="col-lg-3">
          <label class="form-label">Pay Via <span class="error">*</span></label>
          <select formControlName="payVia" class="form-select form-control">
            <option disabled value="select">Select Payment Mode</option>
            <option
              *ngFor="let option of paymentModes; index as i"
              [value]="option"
            >
              {{ option }}
            </option>
          </select>
        </div>
        <div class="col-lg-3">
          <label class="form-label">Bank Account</label>
          <input formControlName="account" type="text" class="form-control" />
        </div>
      </div>
    </form>
    <!-- <div class="row">
      <div class="col-lg-12 mt-2">
        <label class="form-label">Remarks</label>
        <textarea cols="30" rows="8" class="form-control"></textarea>
      </div>
    </div> -->
    <div class="header-txt col-md-12 mt-3"></div>
    <div class="row mt-3 mb-3">
      <div class="offset-md-10 col-md-2">
        <button
          type="button"
          class="save_button btn"
          (click)="onSubmitPayment()"
          [disabled]="!paymentFormGroup.valid"
        >
          {{ isAlreadyPaid ? "Print Receipt" : "Paid" }}
        </button>
      </div>
    </div>
  </div>
</app-layout>
