<app-layout>
    <div class="container-flud p-5 pb-0">
        <!-- Start filter of promotion -->
        <div class="row">
            <div class="col-md-12 header-txt">
                <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Student Promotion</span>
            </div>
        </div>
        <div class="row">
            <form [formGroup]="filterForm">
                <div class="row mt-2 mb-3">
    
                    <div class="col-5">
                        <label class="form-label">Class <span class="error">*</span></label>
                        <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
                            <option disabled value="select">Select</option>
                            <option *ngFor="let sec of classes" value="{{ sec._id }}">
                                {{ sec.className }}
                            </option>
                        </select>
                        <div *ngIf="filterForm.controls['studentClass'].invalid && (filterForm.controls['studentClass'].dirty || filterForm.controls['studentClass'].touched)"
                            class="error mt-2">
                            <div *ngIf="filterForm.controls['studentClass'].errors['required']">
                                Class is required.
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-5">
                        <label class="form-label">Year <span class="error">*</span></label>
                        <select class="form-select" formControlName="academicYear">
                            <option disabled value="select">Select</option>
                            <option *ngFor="let day of aceYear" value="{{ day._id }}">
                                {{ day.name }}
                            </option>
                        </select>
                        <div *ngIf="filterForm.controls['academicYear'].invalid && (filterForm.controls['academicYear'].dirty || filterForm.controls['academicYear'].touched)"
                            class="error mt-2">
                            <div *ngIf="filterForm.controls['academicYear'].errors['required']">
                                Year is required.
                            </div>
                        </div>
                    </div>
    
                    <div class="col-2">
                        <button class="btn" style="margin-top:29px;" [disabled]="!filterForm.valid"
                            (click)="callReport(filterForm)">Filter</button>
                    </div>
    
                </div>
            </form>
        </div>
        <!-- End filter of promotion -->
    </div>

    <div class="container-flud p-5 pt-3" *ngIf="visiblePromotion">
        <!-- Start promotion Form -->
        <div class="card">
            <div class="card-header">
                The Next Session Was Transferred To The Students
            </div>
            <div class="card-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-subl mb-lg">
                                <strong>Instructions :</strong><br>
                                1. The Roll field shows the previous roll and you can manually add new roll for promoted
                                session.<br>
                                2. Roll number is unique, so carefully enter the roll number. Automatically generate a
                                roll when your entered roll exists.<br>
                                3. For Enroll, You can select "Running Class" and "Promote To Class" same (Student will
                                change in Session year but classes remain unchanged).<br>
                                4. Please double check and Fill-up all fields carefully Then click Promotion button.<br>
                                5. If you Unchecked "Carry Forward Due in Next Session" the due fees will not be
                                transferred to the next session.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form [formGroup]="promotionForm">
                        <div class="row mt-2 mb-3">

                            <div class="col-4">
                                <label class="form-label">Promote To Session <span class="error">*</span></label>
                                <select class="form-select" formControlName="academicYear">
                                    <option disabled value="select">Select</option>
                                    <option *ngFor="let day of aceYear" value="{{ day._id }}">
                                        {{ day.name }}
                                    </option>
                                </select>
                                <div *ngIf="promotionForm.controls['academicYear'].invalid && (promotionForm.controls['academicYear'].dirty || promotionForm.controls['academicYear'].touched)"
                                    class="error mt-2">
                                    <div *ngIf="promotionForm.controls['academicYear'].errors['required']">
                                        Promote To Session is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="form-label">Promote To Class <span class="error">*</span></label>
                                <select class="form-select" formControlName="studentClass"
                                    (change)="onChangeClass($event)">
                                    <option disabled value="select">Select</option>
                                    <option *ngFor="let sec of classes" value="{{ sec._id }}">
                                        {{ sec.className }}
                                    </option>
                                </select>
                                <div *ngIf="promotionForm.controls['studentClass'].invalid && (promotionForm.controls['studentClass'].dirty || promotionForm.controls['studentClass'].touched)"
                                    class="error mt-2">
                                    <div *ngIf="promotionForm.controls['studentClass'].errors['required']">
                                        Promote To Class is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="form-label">Promote To Section <span class="error">*</span></label>
                                <select class="form-select" formControlName="section">
                                    <option disabled value="select">Select</option>
                                    <option *ngFor="let sec of sections" value="{{ sec._id }}">
                                        {{ sec.name }}
                                    </option>
                                </select>
                                <div *ngIf="promotionForm.controls['section'].invalid && (promotionForm.controls['section'].dirty || promotionForm.controls['section'].touched)"
                                    class="error mt-2">
                                    <div *ngIf="promotionForm.controls['section'].errors['required']">
                                        Promote To Section is required.
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row mt-2 mb-3">
                            <div class="table-responsive" style="height: 450px;">
                                <table class="table mt-4 table-condensed nowrap table-hover table-bordered tbr-top">
                                    <thead style="position: sticky;background-color: #fff;top: 0;padding-top: 15px;">
                                        <tr>
                                            <th scope="col" style="width:120px;">Name</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Register No</th>
                                            <th scope="col">Roll No</th>
                                            <th scope="col">Guardian Name</th>
                                            <th scope="col">Academic fees </th>
                                            <th><input type="checkbox" #AllChkPromotion (change)="allChkChange($event)">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let student of studentData; let i = index">
                                            <tr>
                                                <td>{{student.firstName + " " + student.lastName}}</td>
                                                <td>{{student.class}} ({{student.section}})</td>
                                                <td>{{student.registerNo}}</td>
                                                <td>{{student.rollNo}}</td>
                                                <td>{{student.guardian?.firstName}}</td>
                                                <td>{{student.academyFees}}</td>
                                                <td><input type="checkbox" (change)="singalChkChange($event)"
                                                        [checked]="student?.promotioncheck"></td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-5" style="margin-left: auto;text-align:right;">
                            <button class="btn col-md-4 mt-4" [disabled]="!promotionForm.valid"
                                (click)="savePromotion()">Promotion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End promotion Form -->
</app-layout>