<app-layout>
  <div class="container tab-container p-4">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Assign List">
        <div class="pt-4">
          <div class="top-options">
            <div class="search-area">
              <div class="input-group pe-3">
                <input type="search" class="form-control" placeholder="Search here...">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <div class="options">
                <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                <button class="btn"><img src="assets/icons/opt-print.svg"></button>
              </div>
            </div>
          </div>

          <!--  -->
          <form [formGroup]="classAssignForm" >
            <div class="row mt-5 mb-3">
            
              <div class="col-3">         
                  <label class="form-label">Year <span class="error">*</span></label>
                  <select class="form-select" formControlName="academicYear" (change)="onChangeClass($event)">
                    <option disabled value="select">Select</option>
                    <option *ngFor="let day of aceYear" value="{{day._id}}">{{day.name}}</option>
                  </select>
              
              </div>
              <div class="col-3">
            
                <label class="form-label">Class <span class="error">*</span></label>
                <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
                  <option disabled value="select">Select</option>
                  <option *ngFor="let sec of classes" value="{{sec._id}}">{{sec.className}}</option>
                </select>
              </div>
              <div class="col-3 ">
                <label class="form-label">Section *</label>
                <select class="form-select" formControlName="section">
                  <option disabled value="select">Select</option>
                  <option *ngFor="let sec of sections" [value]="sec._id">{{sec.name}}</option>
                </select>
              </div>
            </div>
    
  
         
            <div class="text-end mb-5">
              <button class="btn" (click) = "callReport(classAssignForm)">filter</button>
            </div>
            </form>
          <!--  -->


          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">SL</th>
                <th scope="col">Class</th>
                <th scope="col">Section</th>
                <th scope="col">Subject</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let suData of subjectList ; index as i ">

                <td>{{i + 1 }}</td>
                <td>six</td>
                <td>b</td>
                <td>
                  <div  *ngFor="let suData of subjectList">
                    {{suData.subjectName}}
                  </div>
                </td>
            
              
                <td>
                  <!-- <button class="btn emp-edit me-1"><i class="fa-solid fa-pencil"></i></button> -->
                  <button class="btn emp-edit ms-1" data-bs-toggle="modal" data-bs-target="#deletePrompt"(click)="selectedID=suData" ><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="Assign">
        <form [formGroup]="classAssignForm"  (ngSubmit)="AssignClassTeacher()">
        <div class="row mt-5 mb-3">
        
          <div class="col-3">         
              <label class="form-label">Year <span class="error">*</span></label>
              <select class="form-select" formControlName="academicYear">
                <option disabled value="select">Select</option>
                <option *ngFor="let day of aceYear" value="{{day._id}}">{{day.name}}</option>
              </select>
          
          </div>
          <div class="col-3">
        
            <label class="form-label">Class <span class="error">*</span></label>
            <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of classes" value="{{sec._id}}">{{sec.className}}</option>
            </select>
          </div>
          <div class="col-3 ">
            <label class="form-label">Section *</label>
            <select class="form-select" formControlName="section">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of sections" [value]="sec._id">{{sec.name}}</option>
            </select>
          </div>
        </div>

        <!-- <div class="row mt-5 mb-3"> -->
          <div class="col-3">
           <mat-form-field appearance="fill">
            <mat-label>Select Subjects</mat-label>
            <mat-select formControlName="subjects" multiple>
              <mat-option *ngFor="let sec of subjects" [value]="sec._id">{{sec.subjectName}}</mat-option>
            </mat-select>
          </mat-form-field>

        
          </div>
        <!-- </div> -->
        <div class="text-end mb-5">
          <button class="btn">Save</button>
        </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-layout>


<!-- Delete model -->

<div class="modal fade" id="deletePrompt">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete </h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this ?</p>
      </div>
      <div class="modal-footer">
        <button id="modalDismissBtn" type="button" #closeButton class="btn btn-primary-close" data-bs-dismiss="modal">&times;Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="delete()">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>