<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Add Department">
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header header-txt">
                  Add Department
                  </div>
                  <div class="card-body">
                    <form [formGroup]="deptForm">
                      <div class="row">
                          <div class="col-md-12">
                            <label class="form-label">Department Name <span class="error">*</span></label>
                            <input type="text" class="form-control" formControlName="name">
                          </div>
                       
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <button type="button" class="save_button btn" (click)="addDepartment()" [disabled]="!deptForm.valid">Save</button>
                        </div>
                        
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header header-txt">
                    Department List
                    </div>
                    <div class="card-body">
                      <app-dynamic-table [data]="departments" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
                    </div>
                  </div>
              </div>

          </div>
        </mat-tab>
        <mat-tab label="Add Designation">

          <div class="row mt-3">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header header-txt">
                  Add Designation
                  </div>
                  <div class="card-body">
                    <form [formGroup]="designForm">
                      <div class="row">
                          <div class="col-md-12">
                            <label class="form-label">Department <span class="error">*</span></label>
                            <select class="form-select" formControlName="department">
                              <option disabled value="select">Select</option>
                              <option
                                *ngFor="let dept of departments"
                                [value]="dept._id"
                              >
                                {{ dept.name }}
                              </option>
                            </select>
                          </div>
                       
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <label class="form-label ">Designation Name <span class="error">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                    />
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <button type="button" class="save_button btn" (click)="addDesignation()" [disabled]="!designForm.valid">Save</button>
                        </div>
                        
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header header-txt">
                  Designation List
                  </div>
                  <div class="card-body">
                    <app-dynamic-table [data]="designations" [columns]="tableHeaderDesignation" (rowEvent)="rowEventDesignation($event)"></app-dynamic-table>
                   
                  </div>
                </div>
            </div>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Department</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editDept">
      <div class="modal-body bg-white">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Department Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="name">
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="save_button btn" (click)="updateDepartment()" [disabled]="!editDept.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deleteDepartment()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
      </div>
  </div>
</ng-template>
<!--- Designation Popup-->

<ng-template #DesignationTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Department</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editDesign">
      <div class="modal-body bg-white">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Department Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="department">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Designation Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="name">
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="save_button btn" (click)="updateDesignation()" [disabled]="!editDesign.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #DesignationDeletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deleteDesignation()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
      </div>
  </div>
</ng-template>