
<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Exam Term">
          <div class="row mt-3">
            <div class="col-md-5">
              <div class="card">
                <div class="card-header header-txt">
                  Add Exam Term
                  </div>
                  <div class="card-body">
                    <form [formGroup]="examTermForm">
                      <div class="row">
                          <div class="col-md-12">
                            <label class="form-label"> Name <span class="error">*</span></label>
                            <input type="text" formControlName= "name" class="form-control" />
                          </div>
                       
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <button type="button" class="save_button btn" (click)="addDExamTerm()" [disabled]="!examTermForm.valid">Save</button>
                        </div>
                        
                      </div>
                    </form>
                    </div>
                  </div>
            </div>
            <div class="col-md-7">
              <div class="card">
                <div class="card-header header-txt">
                  Exam Term  List
                  </div>
                  <div class="card-body">
                    <app-dynamic-table [data]="examTerms" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>                   
                  </div>
                  </div>
            </div>
          </div>
         
    
        </mat-tab>
        <mat-tab label="Distribution ">

          <div class="row mt-3">
            <div class="col-md-5">
              <div class="card">
                <div class="card-header header-txt">
                  Add Marks Distribution
                  </div>
                  <div class="card-body">
                    <form [formGroup]="disturbutionForm">
                      <div class="row">
                          <div class="col-md-12">
                            <label class="form-label"> Name <span class="error">*</span></label>
                            <input type="text" formControlName= "name" class="form-control">
                          </div>
                       
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <button type="button" class="save_button btn" (click)="addDist()" [disabled]="!disturbutionForm.valid">Save</button>
                        </div>
                        
                      </div>
                    </form>
                    </div>
                  </div>
            </div>
            <div class="col-md-7">
               <div class="card">
                <div class="card-header header-txt">
                  Marks Distribution  List
                  </div>
                  <div class="card-body">
                    <app-dynamic-table [data]="marksDistributions" [columns]="distributorTableHeader" (rowEvent)="distributionRowEvent($event)"></app-dynamic-table>  

                    <!-- <table class="table" [cellPadding]="0" [cellSpacing]="0">
                      <thead>
                        <tr>
                          <th scope="col">SL</th>
                          <th scope="col">Name</th>
                        
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dist of marksDistributions;  index as i">
                          <td>{{i+1}}</td>
                          <td>{{dist.name}}</td>
                      <td>
                        <button class="btn emp-edit me-1" (click)="patchDistForm(dist, editLeaveE)">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                           
                            <button class="btn emp-edit ms-1" (click)="openDeleteDistributionModal(deletePromptD, dist)" ><i class="fa-solid fa-trash-can"></i></button>
                          </td>
                        </tr>
            
                     
                      </tbody>
                    </table> -->
                  </div></div> 
                   
            </div>
        </div>
        
        </mat-tab>
      </mat-tab-group>
    </div>
    </div>
    </app-layout>
    <!-- Modal for editing  -->
    <ng-template #editLeave>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Exam  Terms</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editTermForm">
          <div class="modal-body bg-white">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="name">
              </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="save_button btn" (click)="updateDist()" [disabled]="!editTermForm.valid">Save</button>
          </div>
        </form>
      </div>
    </ng-template>



<!-- <div class="modal fade" id="editLeave">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Exam  Terms</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editTermForm">
          <div class="mb-3">
            <label class="form-label"> Name *</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
      
         
        </form>
      </div>
      <div class="modal-footer">
        <button id="editModalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="isLoading ||
          !editTermForm.valid || editTermForm.get('term')?.value == 'select'"  (click)="updateDist()"> 
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Update</span>
        </button>
      </div>
    </div>
  </div> -->
  
  <ng-template #editLeaveE>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Exam  Distribution</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editDistForm">
        <div class="mb-3">
          <label class="form-label"> Name *</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
    
       
      </form>
         
        <div class="modal-footer mt-4">
          <button type="button" class="btn btn-danger" [disabled]="isLoading ||
          !editDistForm.valid || editDistForm.get('dist')?.value == 'select'"  (click)="updateDistE()"> 
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Update</span>
        </button>
          <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
        </div>
    </div>
  </ng-template>
  
<!-- Modal for editing  -->
<div class="modal fade" id="editLeaveD">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Exam  Distribution</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editDistForm">
          <div class="mb-3">
            <label class="form-label"> Name *</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
      
         
        </form>
      </div>
      <div class="modal-footer">
        <button id="editModalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="isLoading ||
          !editDistForm.valid || editDistForm.get('dist')?.value == 'select'"  (click)="updateDistE()"> 
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>


  
  
  <!---Modal for delete---->
  <ng-template #deletePrompt>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Exam Term</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
        </div>
      </div>
         
        <div class="modal-footer mt-4">
          <button type="button" class="save_button btn" (click)="deleteExaTerm()">Yes, Continue</button>
          <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
        </div>
    </div>
  </ng-template>

  <ng-template #deletePromptD>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Distribution</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
        </div>
      </div>
         
        <div class="modal-footer mt-4">
          <button type="button" class="save_button btn" (click)="deleteDist()">Yes, Continue</button>
          <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
        </div>
    </div>
  </ng-template>
