<app-layout>
  <div class="container p-5">
    <h6 class="header-txt mb-3">Salary Payment</h6>
        <div class="row">
          <div class="col-4">
            <label class="form-label">Months And Year  <span class="error">*</span></label>
            <div class="input-group">
              <input
                matInput
                class="form-control me-3"
                [matDatepicker]="picker"
                [formControl]="date"
              />
              <div class="mr-2 tooglePicker">
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
              </div>
              <mat-datepicker
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, picker)"
                #picker
              ></mat-datepicker>
            </div>
          </div>

          <div class="col-3">
            <label class="form-label">Designation </label>
            <!-- <label class="form-label">Class *</label> -->
            <select
              class="form-select"
              [(ngModel)]="designFilter"
              (change)="getFilteredEmployees()"
            >
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of designations" [value]="sec._id">
                {{ sec.name }}
              </option>
            </select>
          </div>

          <div class="col-3 mt-4">
            <div class="button pe-5 pt-1 pb-1 mt-2">
              <button
                (click)="onFilter()"
                type="button"
                class="btn button_color"
              >
                Filter
              </button>
            </div>
          </div>
        </div>

    <div class="tab-container">
      <div class="grey-border row mt-3">
        <p class="table-heading"><b>Staff List</b></p>
      </div>

      <!--  -->
      <table class="table mt-3 py-4">
        <thead>
          <tr>
            <th scope="col">Staff Id</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Department</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Salary Grade</th>
            <th scope="col">Basic Salary</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of filteredEmployees">
            <td>{{ emp._id | slice : -4 }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.designation?.name }}</td>
            <td>{{ emp.department?.name }}</td>
            <td>{{ emp.number }}</td>
            <!-- <td>{{ emp.salaryDetails?.salaryGrade }}</td> -->
            <td>{{ emp.salaryGrade?.salaryGrade }}</td>
            <!-- <td>₹{{ emp.salaryDetails?.basicSalary }}</td> -->
            <td>₹{{ emp.salaryGrade?.basicSalary }}</td>
            <td>
              <button (click)="navigateToSalaryCreate(emp)">
                {{ emp.salaryStatus === "PAID" ? "Salary Paid" : "Pay Now" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-layout>
