<app-layout>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12 header-txt">
        <i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;<span>Student Category Management</span>
      </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header header-txt">
             Add Category
              </div>
              <div class="card-body">
                <form [formGroup]="categoryForm">
                  <div class="row">
                      <div class="col-md-12">
                        <label for="exampleInputEmail1" class="form-label">Category Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="categoryName">
                      </div>
                   
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <button type="button" class="save_button btn" (click)="addCategory(categoryForm)" [disabled]="!categoryForm.valid">Save</button>
                    </div>
                    
                  </div>
                </form>
                </div>
              </div>
        </div>
        <div class="col-md-7">
           <div class="card">
            <div class="card-header header-txt">
              Category list
              </div>
              <div class="card-body">
                <!-- <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6 pe-4">
                    <app-search-box [(model)]="searchText" (modelChange)="updateFilters()" [placeholder]="'Search by Category Name'"></app-search-box>
                  </div>
                </div>
                <table class="table mt-3">
                  <thead>
                     <tr>
                    <th width="20%">S. No</th>
                    <th  [class.active]="order === 'categoryName'"
                    (click)="setOrder('categoryName')" width="50%">Name<span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span></th>
                    <th >Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="( categoryData | orderBy: order:reverse:caseInsensitive | filter:peopleFilter:false) as result">
                  <tr *ngFor="let row of result;  let i = index">
                    <td>{{i+1}}</td>
                    <td>{{row.categoryName}}</td>

                    <td>
                      <button class="btn emp-edit me-1" (click)="openModal(template, row)"><i class="fa-solid fa-pencil"></i></button>
                      <button class="btn emp-edit ms-1" (click)="openDeleteModal(deletemplate, row)"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                  </tr>
                  </ng-container>
                </tbody>
                </table> -->
                <app-dynamic-table [data]="categoryData" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
                </div></div> 
               
        </div>
    </div>
</div>
</app-layout>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Category</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="modal-body bg-white">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="categoryName">
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="save_button btn" (click)="updateCategory(categoryForm)" [disabled]="!categoryForm.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deletePopup()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
      </div>
  </div>
</ng-template>
