
<form [formGroup]="addForm">
  <div class="row">
      <div class="col-md-12 header-txt" >
        <i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp; <span>Fee Mode Details</span>
      </div>
  </div> 
  <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Category Name</th>
             <th>Category Code</th>
             <th>Amount</th>
             <th>Concession (%)</th>
             <th>Hike (%)</th>
             <th>Total Amount</th>
    </tr>
    </thead>
    <tbody> 
        <ng-container *ngFor="let row of addForm.get('rows')['controls']; let i = index">
             <tr *ngIf="row.get('type').value !== '$$KM@@'">
                       <td>
                        
                        <input type="checkbox" class="form-check-input" [formControl]="row.get('isChecked')" (change)="onCheckChange($event, i)" /></td>
                        <td>{{row.get('categoryName').value}}</td>
                       <td>{{row.get('code').value}}</td>
                        <td>{{row.get('amount').value}}</td>
                        <td>
                          <input type="text" class="form-control" [formControl]="row.get('concession')" style="width:80px" (focusout)='calculatePerc(i)' maxlength="2"></td>
                        <td><input type="text" class="form-control" [formControl]="row.get('hike')" style="width:80px;background-color:#e9ecef; opacity: 1;" maxlength="2" readonly></td>
                        <td><input type="text" class="form-control" [formControl]="row.get('totalAmount')" style="width:120px"></td>
                </tr>

                <tr *ngIf="row.get('type').value === '$$KM@@'">
                  <td>
       
                    <ng-container *ngIf="row.get('code').value !== ''">
                      <input type="checkbox" class="form-check-input" [formControl]="row.get('isChecked')" (change)="onCheckChange($event, i)" />
                    </ng-container>
                    </td>
                  <td>
                    <label>Transportation</label>
                    <select  [formControl]="row.get('transporationId')" class="form-select mt-1" (change)="onChangeTransporation($event, i)">
                    <option disabled value="">Select  Distance</option>
                    <option *ngFor="let sec of transportList" [value]="sec?._id">{{sec.distance}}</option>
                  </select></td>
                 <td>{{row.get('code').value}}</td>
                  <td>{{row.get('amount').value}}</td>
                  <td><input type="text" class="form-control" [formControl]="row.get('concession')" style="width:80px" (focusout)='calculatePerc(i)' maxlength="2"></td>
                  <td></td>
                  <td><input type="text" class="form-control" [formControl]="row.get('totalAmount')" style="width:120px"></td>
                </tr>
        </ng-container> 
        
    </tbody>
</table>
  <div class="row mt-3">
    <div class="col-3 ms-5">
      <label class="form-label">Final Amount <span class="error">*</span></label>
      <input type="text" class="form-control"  formControlName="totalFinalAmount" readonly>
   </div>
    
    <div class="mb-3 col-md-4">
      <label class="form-label">Fee Mode <span class="error">*</span></label>
      <select class="form-select" formControlName="feeMode">
        <option  value="" >Select</option>
        <option *ngFor="let day of feeModeList" value="{{day._id}}">{{day.frequency}}</option>
      </select>
      <div *ngIf="addForm.controls['feeMode'].invalid && (addForm.controls['feeMode'].dirty || addForm.controls['feeMode'].touched)"
      class="error mt-2">
      <div *ngIf="addForm.controls['feeMode'].errors['required']">
        Fee Mode is required.
      </div></div>
    </div>
    <div class="col-md-3 mt-2"  *ngIf="row.isVisibleSaveBtn">
      <button (click)="payNowClick(addForm)" class="btn mt-4"  [disabled]="!addForm.valid">Save and Get Invoice</button>
    </div>
  </div>
  <div class="row" *ngIf="row.isExpand">
    <div class="col-md-12 header-txt" >
      <div class="row">
        <div class="col-md-6"> <i class="fa-regular fa-credit-card"></i>&nbsp;&nbsp;<span>Pay Invoice</span></div>
        <div class="col-md-6 mb-2 text-end"> <button class="btn" (click)="printInvoice()">Print Invoice</button></div>
      </div>       
    </div>
</div> 
  <div class="row" *ngIf="row.isExpand">
    <table class="table table-bordered table-sm">
      <thead>
        <th class="ps-3">Month </th>
        <th class="ps-3">Date</th>
        <th class="ps-3">Amount</th>
        <th class="ps-3">Payment Method</th>
      <!-- <th class="ps-3">Payment By</th> -->
        <th class="text-center">Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let row2 of addForm.get('invoceRow')['controls']; let i = index">
          <tr >
            <td class="ps-3">{{row2.get('month').value}}</td>
            <td class="ps-3">{{row2.get('date').value}}</td>
            <td class="ps-3">{{row2.get('amount').value}}</td>
           <td class="ps-3"><select class="form-select" [formControl]="row2.get('paymentMethod')">
            <option  value="">Select</option>
            <option *ngFor="let sec of paymentMethod" [value]="sec._id">{{sec.name}}</option>
          </select></td>
           <!--<td class="ps-3">
            <select class="form-select" [formControl]="row2.get('paymentBy')">
              <option value="">Select</option>
              <option *ngFor="let sec of accountMethod" [value]="sec._id">{{sec.name}}</option>
            </select>
           </td> -->
           <td class="ps-3">{{row2.get('status').value}}</td>
           <td><button class="btn"  *ngIf="(row2.get('status').value).toLowerCase() !== 'paid'"  [disabled]="checkF(row2.get('paymentMethod').value)" (click)="invoiceModelPopup(confTemplate,row2,i)">PayNow</button></td>
          </tr>
        </ng-container>
        
      </tbody>
    </table>
  </div>

</form>
<ng-template #confTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Invoice Update Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Update This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="updateInvoice(invoiceRowSingleData,invoiceRowSingleIndex)">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancle</button>
      </div>
  </div>
</ng-template>