.invoice-lbl{
    color:#171717 ;
    font-size: 1.3rem;
    line-height:1.1;
    font-weight: 500;
}
.invoice-lbl-lg{
    color:#171717 ;
    font-size: 0.9rem;
    line-height:1.5;
    font-weight: 500;
}
.red-border{
    border: #d2322d 1px solid;
    color: #d2322d;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    font-size: 85%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    line-height: 1;
}
.acd-detai{
    color:#606060 ;
    line-height: 1.5em;
    .text-weight{
        font-weight: 600;
        color:#171717 !important;
    }
}
.grey-box{
    background: #f5f5f5;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
}