<app-layout>
  <div class="container p-4">
      <div class="tab-container">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="Exam List">
                  <div class="pt-4">
                    <app-dynamic-table [data]="exams" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
                   
                  </div>
                </mat-tab>
                <mat-tab label="Create Exam ">
                  <form [formGroup]="examForm" (ngSubmit)="addExams()">
                  <div class="container">
                
                    
                      <div class="mb-2 col-md-5 py-2 offset-2">
                          <label class="form-label"> Name <span class="error">*</span></label>
                          <input type="text" formControlName="name" class="form-control">
                        </div>
                        <div class="mb-3 col-md-5 offset-2 py-2">
                          <label class="form-label">Term <span class="error">*</span></label>
                          <select class="form-select" formControlName="term">
                            <option disabled value="select">Select</option>
                            <option *ngFor="let designation of examTerms" [value]="designation._id">
                              {{designation.name}}
                            </option>
                          </select>
                        </div> 
                        <div class="mb-3 py-2 offset-2 col-md-5">
                          <label class="form-label">Exam Type <span class="error">*</span></label>
                          <select class="form-select" formControlName="examtype">
                            <option  value="">Select</option>
                            <option value="Marks">Marks</option>
                            <option value="Grade">Grade</option>
                          </select>
                        </div>
                        <!-- this will chnge -->
                        <div class="mb-3  col-md-5 offset-2 py-2">
                          <label class="form-label">Marks Disturbutions <span class="error">*</span></label>
                          <select class="form-select" formControlName="marksDistribution">
                            <option disabled value="select">Select</option>
                            <option *ngFor="let exam of marksDistributions"  [value]="exam._id">
                              {{exam.name}}
                            </option>
                      
                          </select>
                        </div>
                        <div class="mb-3  col-md-5 offset-2 py-">
                        
                              <label for="exampleFormControlTextarea1" class="form-label">Remarks</label>
                              <textarea formControlName="remarks" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      
                        </div>
                        <div class="offset-4" >
                          <button type="submit" class="btn" [disabled]="isLoading || !examForm.valid">
                            <span *ngIf="isLoading" class="spinner-border text-light"></span>
                            <span *ngIf="!isLoading">Save</span>
                          </button>
                        </div>
                       
                  </div>
                </form>
              </mat-tab>

</mat-tab-group>
          </div>

      </div>
  

  <!-- <mat-paginator [length]="filteredCoursesCount" (page)="onPageChange($event)"></mat-paginator> -->
  <!-- <mat-paginator ></mat-paginator> -->

  </app-layout>

  <!---Modal for delete---->
  <ng-template #deletePrompt>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Confirmation</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <span class="text-justify">Are you sure, You Want To Delete This Exams?</span>
        </div>
      </div>
         
        <div class="modal-footer mt-4">
          <button type="button" class="save_button btn" (click)="deleteExams()">Yes, Continue</button>
          <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
        </div>
    </div>
  </ng-template>


