<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Stop Page List">
          <div class="pt-4 ms-2">
            <app-dynamic-table [data]="stopPages" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
           
          </div>
        </mat-tab>
        <mat-tab label="Create Stop Page">
          <form [formGroup]="stopForm" (ngSubmit)="addStopPage()">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <div class="my-5">
                  <div class="mb-3">
                    <label class="form-label">Stop Page <span class="error">*</span></label>
                    <input type="text" class="form-control" formControlName="stoppageName">
                  </div>
    
                  <div class="mb-3">
                    <label class="form-label">Stop Time <span class="error">*</span></label>
                    <!-- <input type="time" class="form-control" formControlName="stopTime"> -->
                    <input class="form-control" [ngxTimepicker]="fullTime" [format]="24" readonly formControlName="stopTime">
                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                  </div>
    
                  <div class="mb-3">
                    <label class="form-label">Route Fare <span class="error">*</span></label>
                    <input type="text" class="form-control" formControlName="routeFare">
                  </div>
                  <div class="text-end mb-3">
                    <button class="btn" [disabled]="isLoading || !stopForm.valid">
                      <span *ngIf="isLoading" class="spinner-border text-light"></span>
                      <span *ngIf="!isLoading">Save</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>       

            
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>


<!---Modal for delete---->
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Stop Page</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure you want to delete this Stop Page?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deleteStopPage()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
      </div>
  </div>
</ng-template>
