<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Templete List">
                    <div class="pt-4 ms-1">
                      <app-dynamic-table [data]="salaries" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Create Templete">
                    <form [formGroup]="salaryForm" (ngSubmit)="addSalaryTemplate()">
                      <div class="container">
                          <div class="row mb-3 mt-3">
                              <div class="col-4">
                                  <label class="form-label">Salary Grade <span class="error">*</span></label>
                                  <input type="text" class="form-control" formControlName="salaryGrade">
                                </div>
                                  <div class="col-4">
                                    <label class="form-label">Basic Salary <span class="error">*</span></label>
                                    <input type="number" class="form-control" formControlName="basicSalary" (blur)="updateDetails()">
                                  </div>
                                  <div class="col-4">
                                      <label class="form-label">OverTime Rate per Hour <span class="error">*</span></label>
                                      <input type="number" class="form-control" formControlName="overTimeRatePerHr">
                                    </div>
                          </div>

                          <div class="row mt-3 grey-border pb-2">
                              <div class="col-md-12"><b>Allowances</b></div>
                           </div>
                           <div class="row" formArrayName="allowances">
                            <ng-container *ngFor="let allowancesField of allowancesFields.controls; index as i" [formGroupName]="i">
                            <div class="col-md-4 mt-4">
                              <label class="form-label">
                                Name of Allowance <span class="error">*</span>                               
                              </label>
                              <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-md-4 mt-4">
                              <label class="form-label">Amount <span class="error">*</span></label>
                              <input type="number" class="form-control" formControlName="amount" (blur)="updateDetails()">
                            </div>
                            <div class="col-md-4 mt-5">  
                              <p  *ngIf="i == 0"><button type="button" class="btn mt-2" (click)="addAllowancesField()">Add Rows</button></p>                           
                              
                              <i *ngIf="i > 0" class="ms-4 fa-solid fa-trash-can mt-2" style="color: #F44336; cursor: pointer;"
                                (click)="allowancesFields.removeAt(i)"></i>
                            </div>
                           </ng-container>
                           </div>
                           <div class="row mt-3 grey-border pb-2">
                            <div class="col-md-12"><b>Deductions</b></div>
                           </div>
                           <div class="row" formArrayName="deductions">
                            <ng-container *ngFor="let deductionField of deductionsFields.controls; index as i" [formGroupName]="i">
                              <div class="col-md-4 mt-4"> 
                                <label class="form-label">
                                  Name of Deduction <span class="error">*</span>
                                 
                                </label>
                                <input type="text" class="form-control" formControlName="name"> </div>
                              <div class="col-md-4 mt-4"> <label class="form-label">Amount <span class="error">*</span></label>
                                <input type="number" class="form-control" formControlName="amount" (blur)="updateDetails()"> </div>
                              <div class="col-md-4 mt-5">  
                                <p *ngIf="i == 0" >
                                  <button type="button" class="btn mt-2" (click)="addDeductionsField()">Add Rows</button>
                                </p>
                               
                                <i *ngIf="i > 0" class="fa-solid fa-trash-can mt-2" style="color: #F44336; cursor: pointer;"
                                  (click)="deductionsFields.removeAt(i)"></i>
                              </div>
                            </ng-container>
                           </div>
                           <div class="row mt-3 grey-border pb-2">
                            <div class="col-md-12"><b>Salary Details</b></div>
                           </div>
                           <div class="row mt-3">
                                <div class="col-md-3">
                                  <label class="form-label">Basic Salary <span class="error">*</span></label>
                                  <input type="text" class="form-control" formControlName="basicSal">
                                </div>
                                <div class="col-md-3">
                                  <label class="form-label"> Total Allowance <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="totalAllowance">
                                </div>
                                <div class="col-md-3">
                                  <label class="form-label">Total Deduction  <span class="error">*</span></label>
                                  <input type="text" class="form-control" formControlName="totalDeduction">
                                </div>
                                <div class="col-md-3">
                                  <label class="form-label">Net Salary <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="netSal">
                                </div>
                           </div>
                          <!--<div class="row mb-2">
                              <div class="col-4 py-3" formArrayName="allowances">
                                <label class="form-label py-4"> <strong>  Allowances</strong></label> <br>
                                <ng-container *ngFor="let allowancesField of allowancesFields.controls; index as i" [formGroupName]="i">
                                  <label class="form-label d-flex justify-content-between align-items-center">
                                    Name of Allowance *
                                    <i *ngIf="i > 0" class="fa-solid fa-trash-can" style="color: #F44336; cursor: pointer;"
                                      (click)="allowancesFields.removeAt(i)"></i>
                                  </label>
                                  <input type="text" class="form-control" formControlName="name"> <br>
                                  <label class="form-label">Amount *</label>
                                  <input type="number" class="form-control" formControlName="amount" (blur)="updateDetails()"><br>
                                </ng-container>
                                <div class="text-end">
                                  <button type="button" class="btn" (click)="addAllowancesField()">Add Rows</button>
                                </div>
                              </div> 
                              <div class="col-4 offset-4 py-3">
                               <ng-container formArrayName="deductions">
                                  <label class="form-label py-4"> <strong>  Deductions</strong></label><br>
                                  <ng-container *ngFor="let deductionField of deductionsFields.controls; index as i" [formGroupName]="i">
                                    <label class="form-label d-flex justify-content-between align-items-center">
                                      Name of Deduction *
                                      <i *ngIf="i > 0" class="fa-solid fa-trash-can" style="color: #F44336; cursor: pointer;"
                                        (click)="deductionsFields.removeAt(i)"></i>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name"><br>
                                    <label class="form-label">Amount *</label>
                                    <input type="number" class="form-control" formControlName="amount" (blur)="updateDetails()"><br>
                                  </ng-container>
                                  <div class="text-end">
                                      <button type="button" class="btn" (click)="addDeductionsField()">Add Rows</button>
                                  </div>
                                </ng-container> 

                                  
                                    <label class="form-label py-4"> <strong>  Salary Details</strong></label><br>
                                    <label class="form-label">Basic Salary <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="basicSal"><br>
                                    <label class="form-label"> Total Allowance <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="totalAllowance"><br>
                                    <label class="form-label">Total Deduction  <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="totalDeduction"><br>
                                    <label class="form-label">Net Salary <span class="error">*</span></label>
                                    <input type="text" class="form-control" formControlName="netSal"><br>

                                </div>
                            </div> -->

                            <div class="text-end mt-3">
                              <button type="submit" class="btn" [disabled]="isLoading || !salaryForm.valid">
                                <span *ngIf="isLoading" class="spinner-border text-light"></span>
                                <span *ngIf="!isLoading">Save</span>
                              </button>
                            </div>
                      </div>
                  </form>
                </mat-tab>

          </mat-tab-group>
      </div>
  </div>
</app-layout>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deleteSalary()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
      </div>
  </div>
</ng-template>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Salary Template</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-3 offset-4">
        <p class="salaryTemp-title">
          Salary Grade (GPA):
          <br>
          Basic Salary:
          <br>
          Overtime Rate (Per Hour):
        </p>
      </div>
      <div class="col-3">
        <p class="salaryTemp-title-val">
          {{selectedSal?.salaryGrade}}
          <br>
          ₹ {{selectedSal?.basicSalary}}
          <br>
          ₹ {{selectedSal?.overTimeRatePerHr}}
          <br>
        </p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6">
        <p class="table-title">Allowances</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sal of selectedSal?.allowances">
              <td>{{sal.name}}</td>
              <td>₹ {{sal.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <p class="table-title">Deductions</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sal of selectedSal?.deductions">
              <td>{{sal.name}}</td>
              <td>₹ {{sal.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3">
        <p class="table-title">Salary Details</p>
        <table class="table table-bordered salary-details">
          <tbody>
            <tr>
              <th>Basic Salary</th>
              <td>₹ {{selectedSal?.basicSalary}}</td>
            </tr>
            <tr>
              <th>Total Allowance</th>
              <td>₹ {{selectedSal?.totalAllowance}}</td>
            </tr>
            <tr>
              <th>Total Deduction</th>
              <td>₹ {{selectedSal?.totalDeductions}}</td>
            </tr>
            <tr>
              <th>Net Salary</th>
              <td>₹ {{selectedSal?.netSalary}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closePopup()">Close</button>
  </div>
</ng-template>