<app-layout>
    <div class="container tab-container p-5">
        <div class="row">
            <div class="col-md-12 header-txt pb-2" >
                <div class="row">
                    <div class="col-md-4"><i  class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Transport Fee List</span></div>
                    <div class="col-md-8 text-end">
                        <button class="btn" (click)="addFeeType()">Define Transport Fee</button>
                    </div>
                </div>
            </div>
        </div>
        
      <form [formGroup]="reportForm">
        <div class="row mt-3">
          <div class="mb-3 col-md-4">
            <label class="form-label">Year <span class="error">*</span></label>
            <select class="form-select" formControlName="academicYear">
              <option disabled value="select">Select</option>
              <option *ngFor="let year of aceYear" [value]="year._id">{{year.name}}</option>
            </select>
            <div *ngIf="reportForm.controls['academicYear'].invalid && (reportForm.controls['academicYear'].dirty || reportForm.controls['academicYear'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['academicYear'].errors['required']">
              Year is required.
            </div></div>
          </div>
          <div class="mb-3 col-md-4 mt-4 pt-2">
            <button class="btn" (click)="callReport(reportForm)"  [disabled]="!reportForm.valid">Search</button>
        </div>
      </div>
    </form>
        <div class="row">
            <div class="col-md-12">
              <app-dynamic-table [data]="transportList" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
              <table class="table mt-3" *ngIf="transportList.length !== 0 ">
                <tr>
                  <td width="15%"></td>
                  <td  width="30%"></td>
<!--                    <td  width="30%"><b>Total Amount</b></td>
                   <td   width="30%" class="f-w-400">{{totalAmount}}</td> -->
               </tr>
              </table>
                <!-- <table class="table mt-3">
                    <thead>
                      <tr>
                        <th width="15%">S. No</th>
                        <th width="30%">Code</th>
                        <th width="30%">Distance</th>
                        <th width="30%">Amount</th>
                       
                      </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let row of transportList; let i = index;let last = last">
                            <tr>
                                <td>{{i+1}} </td>
                                <td >{{row.code}}</td>
                                <td>{{row?.distance}}</td>
                                 <td >{{row.amount}}</td> 
                            </tr>
                            <tr *ngIf="last">
                               <td colspan="2"></td>
                                <td><b>Total Amount</b></td>
                                <td class="f-w-400">{{totalAmount}}</td>
                            </tr>
                        </ng-container>
                      </tbody>                     
                </table> -->
            </div>
        </div>

    </div>
</app-layout>

