<app-layout>

    <div class="container tab-container p-5">

      <div class="row header-txt">
        <div class="col-md-12"><span>Student Attendance</span></div>     
    </div>
      <form [formGroup]="reportForm">
        <div class="row mt-3 grey-border">
          <div class="mb-3 col-md-3">
            <label class="form-label">Class <span class="error">*</span></label>
         
            <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of classes" [value]="sec._id">{{sec?.classNumeric}} ({{sec?.sections[0]?.name}}) {{sec.className}}</option>
            </select>
            <div *ngIf="reportForm.controls['studentClass'].invalid && (reportForm.controls['studentClass'].dirty || reportForm.controls['studentClass'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['studentClass'].errors['required']">
              Class is required.
            </div>
          </div></div>  
          <div class="mb-3 col-md-3">
            <label class="form-label">Year <span class="error">*</span></label>
            <select class="form-select" formControlName="academicYear">
              <option disabled value="select">Select</option>
              <option *ngFor="let year of aceYear" [value]="year._id">{{year.name}}</option>
            </select>
            <div *ngIf="reportForm.controls['academicYear'].invalid && (reportForm.controls['academicYear'].dirty || reportForm.controls['academicYear'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['academicYear'].errors['required']">
              Year is required.
            </div></div>
          </div>
          <div class="mb-3 col-md-3">
            <label class="form-label">Date <span class="error">*</span></label>
            <div class="input-group ">
                 <input matInput class="form-control height-40 me-3" [matDatepicker]="picker"
                 placeholder="dd-mm-yyyy"  formControlName="startDate">
                 <div class="mr-2 tooglePicker">  
                  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle >
                  </div>
            <mat-datepicker #picker></mat-datepicker>
               </div>
               <div *ngIf="reportForm.controls['startDate'].invalid && (reportForm.controls['startDate'].dirty || reportForm.controls['startDate'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['startDate'].errors['required']">
              Date is required.
            </div></div>
          </div>
            
      <div class="col-md-3 mt-4">
        <button class="btn mt-2" (click)="callReport(reportForm)"  [disabled]="!reportForm.valid">Filter</button>
      </div>
        </div>             
    </form>   
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
            <th scope="col" >Name</th>
            <th scope="col">Register No</th>
            <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let student of studentData; let i = index">
          <tr>
          <td> {{i+1}}</td>
          <td>{{student?.date}}</td>
          <td>{{student?._id?.firstName + " " + student?._id?.lastName}}</td>         
          <td>{{student?._id?.registerNo}}</td>
          <td>
            <span class="badge badge-danger" *ngIf="(student?.type).toLowerCase() === 'absent'" style="text-transform: uppercase;">{{student?.type}}</span>
            <span class="badge badge-warning" *ngIf="(student?.type).toLowerCase() === 'halfday'" style="text-transform: uppercase;">{{student?.type}}</span>
            <span class="badge badge-success" *ngIf="(student?.type).toLowerCase() === 'fullday'" style="text-transform: uppercase;">{{student?.type}}</span>
         
        </tr>
        </ng-container>
      </tbody>
    </table>


    </div>
</app-layout>