<app-layout>
    <div class="container p-5">       
        <div class="row">
            <div class="col-md-12 header-txt" >
                <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Define Fee Type</span>
            </div>
        </div>
        
      <form [formGroup]="addForm">
        <div class="row mt-3">
            
            <div class="mb-3 col-md-4">
                <label class="form-label">Year <span class="error">*</span></label>
                <select class="form-select" formControlName="academicYear">
                  <option disabled value="select">Select</option>
                  <option *ngFor="let year of aceYear" [value]="year._id">{{year.name}}</option>
                </select>
                <div *ngIf="addForm.controls['academicYear'].invalid && (addForm.controls['academicYear'].dirty || addForm.controls['academicYear'].touched)"
                class="error mt-2">
                <div *ngIf="addForm.controls['academicYear'].errors['required']">
                  Year is required.
                </div></div>
              </div>
              <div class="mb-4 col-md-4">
                <label class="form-label">Fee Category <span class="error">*</span></label>
             
                <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
                  <option disabled value="select">Select</option>
                  <option *ngFor="let sec of categoryList" [value]="sec.name">{{sec.name}}</option>
                </select>
                <div *ngIf="addForm.controls['studentClass'].invalid && (addForm.controls['studentClass'].dirty || addForm.controls['studentClass'].touched)"
                class="error mt-2">
                <div *ngIf="addForm.controls['studentClass'].errors['required']">
                  Class is required.
                </div>
              </div>

            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                             <th>Class</th>
                             <th>{{categoryName}}</th>
                    </tr>
                    </thead>
                    <tbody> 
                        <ng-container *ngFor="let row of classFees; let i = index">
                               <tr>
                                        <td>{{row.class}}</td>
                                        <td><input type="text" class="form-control"  style="width:100px">
                                               </td>
                                </tr>
                            
                        </ng-container> 
                        
                    </tbody>
                </table>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-6">
                    <button type="button" class="save_button btn" (click)="createInfo()" [disabled]="!addForm.valid">Save</button>
                </div>
                
            </div>
        </div>
    </div>
</app-layout>
