<app-layout>
    <div class="container tab-container p-5">
        <div class="row">
            <div class="col-md-12 header-txt pb-2" >
                <div class="row">
                    <div class="col-md-6"><i  class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Fee Category</span></div>
                    <div class="col-md-6 text-end">
                        <button class="btn" (click)="addCategory()">Add Fee Cateogry</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
              <app-dynamic-table [data]="categoryList" [columns]="tableHeader" (rowEvent)="rowEvent($event)"></app-dynamic-table>
                <!-- <table class="table mt-3">
                    <thead>
                      <tr>
                        <th width="15%">S. No</th>
                        <th width="40%">Name</th>
                        <th width="30%">Code</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let row of categoryList; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                 <td >{{row?.categoryName}}</td> 
                                 <td >{{row?.code}}</td> 
                                 <td>
                                    <button class="btn emp-edit me-1" (click)="editCategory(row)"><i class="fa-solid fa-pencil"></i></button>
                                  <button class="btn emp-edit ms-1" (click)="openDeleteModal(deletemplate, row)"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        </ng-container>
                      </tbody>                     
                </table> -->
            </div>
        </div>

    </div>
</app-layout>
<ng-template #deletemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Confirmation</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
        </div>
      </div>
         
        <div class="modal-footer mt-4">
          <button type="button" class="save_button btn" (click)="deletePopup()">Yes, Continue</button>
          <button type="button" class="save_button btn" (click)="closePopup()">Cancel</button>
        </div>
    </div>
  </ng-template>
