.red-border{
    border: #d2322d 1px solid;
    color: #d2322d;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    font-size: 85%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    line-height: 1;
}