<app-layout>
  <div class=" ms-3 me-3 ">
    <div class="row mt-3 mb-3">
      <div class="col-md-12 header-txt">
        <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Dashboard</span>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-3 hand" (click)="clickMe('/academic/class')">
          <div class="card bg-white" style="width: 250px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Class (Section)</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="sectionObj?.classCount">
                      {{sectionObj?.classCount}} ({{sectionObj?.sectionCount}})
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/class.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 hand" (click)="clickMe('/admission/create')">
          <div class="card bg-white" style="width: 250px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">New Student</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="dashboardObj?.newEnrollStudentCount">
                      {{dashboardObj?.newEnrollStudentCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/dashboard-02.svg" class="w-100" alt="" height="97" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 hand"  (click)="clickMe('/student-details/student-list')">
          <div class="card bg-white" style="width: 250px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Student</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="dashboardObj?.studentCount">
                      {{dashboardObj?.studentCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/students.jpg" class="w-100" alt="" height="97" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 hand" (click)="clickMe('/employee/list')">
          <div class="card bg-white" style="width: 250px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Employee</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="dashboardObj?.employeeCount">
                      {{dashboardObj?.employeeCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/Employee.jpg" class="w-100" alt="" height="97" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hand mt-3" (click)="clickMe('/transport/vehicle')">
          <div class="card bg-white">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Vehicle</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="vehicle">
                      {{vehicle?.vehicleCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/vehicle.png" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3" (click)="clickMe('/transport/route')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Route</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="vehicle">
                      {{vehicle?.routeCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/route.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3" (click)="clickMe('/attendance/student')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Student Attendance</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="attendance">
                      {{attendance?.student}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/attendance.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3"  (click)="clickMe('/attendance/employee')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Employee Attendance</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="attendance">
                      {{attendance?.employee}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/emp.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3" (click)="clickMe('/reception/visitorlog')">
          <div class="card bg-white">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Reception Visitor</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="reception">
                      {{reception?.visitorCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/visitor.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3"  (click)="clickMe('/reception/calllog')">
          <div class="card bg-white">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Reception CallLog</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="reception">
                      {{reception?.callLogCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/call.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3" (click)="clickMe('/reception/enquiry')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Reception Enquiry</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="reception">
                      {{reception?.enquiryCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/enquiry.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3"  (click)="clickMe('/parent/banner-list')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Total App Banners</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="reception">
                      {{reception?.bannerCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/banner.jpg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hand mt-3"  (click)="clickMe('/parent/notice-board-list')">
          <div class="card bg-white" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="text-fade">Total Notice Board</h4>
                  <h4 class="fw-600">
                    <ng-container *ngIf="reception">
                      {{reception?.noticeBoardCount}}
                    </ng-container>
                  </h4>
                </div>
                <div>
                  <img src="../../../assets/images/complaint-01.svg" class="w-100" height="97" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>




    <!-- <div class="col-xl-8 col-md-8 col-12 p-2">
        <div class="box bg-white">
          <div class="box-header px-3 pt-3 pb-2">
            <h4>New Admission Report</h4>
          </div>
          <div class="box-body p-3">
            <div id="chart">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis"
                [xaxis]="chartOptions.xaxis"
                [fill]="chartOptions.fill"
                [title]="chartOptions.title"
              ></apx-chart>
            </div>
          </div>
        </div>
        <div class="box bg-white mt-3">
          <div class="box-header px-3 pt-3 pb-2">
            <h4>Fees Collection Report</h4>
          </div>
          <div class="box-body p-3">
            <div id="chart">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis"
                [xaxis]="chartOptions.xaxis"
                [fill]="chartOptions.fill"
                [title]="chartOptions.title"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div> -->

    <div class="outer-container mt-4">
      <div class="box bg-white">
        <div class="box-header px-3 pt-3 pb-2">
          <a href="http://erpadmin.s3-website.ap-south-1.amazonaws.com/parent/ticket-list"
            style="text-decoration: none; color: inherit;">
            <h4>Raised Ticket By Students</h4>
          </a>
        </div>
        <div class="box-body p-3">
          <div class="row">
            <!-- Repeat the card structure for each item in studentTickets array -->
            <div class="col-xl-4 col-md-4 col-12 p-2" *ngFor="let row of studentTickets; let i = index">
              <div class="box no-shadow mb-3">
                <div class="box-body">
                  <div class="d-flex align-items-center">
                    <div class="me-15">
                      <img src="../../../assets/images/complaint-01.svg" alt="" class="w-100" />
                    </div>
                    <div class="ps-2">
                      <h5 class="mb-1">
                        {{row?.description}}
                      </h5>
                      <p class="text-fade m-0">Report to: {{row?.sendTo}}</p>
                      <p class="text-fade m-0">Status: {{row?.status}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of card structure -->
          </div>
        </div>
      </div>
    </div>




  </div>
</app-layout>