<app-layout>
  <div class="container p-4">
    <h3 class="header-txt pb-1"> Staff Birthday Wishes  </h3>
    <div class="row mt-2">
      <div class="col-4">
        <label class="form-label">Date <span class="error">*</span></label>
        <input type="text" class="form-control">
      </div>
       <div class="col-md-2 mt-4">
      <button class="btn mt-2">Filter</button>
    </div>
    </div>

   

    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Age</th>
          <th scope="col">Designation</th>
          <th scope="col">Role</th>
          <th scope="col">Mobile Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#001234</td>
          <td></td>
          <td>Max ABC</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
