<app-layout>
    <div class="container-flud p-5 tab-container">
        <div class="row header-txt">
            <div class="col-md-12"><span>Employee Attendance</span></div>
        </div>

        <form [formGroup]="addForm">
            <div class="row mt-3 grey-border cls-employee-designation">
                <div class="mb-3 col-md-3">
                    <label class="form-label">Designation <span class="error">*</span></label>
                    <select class="form-select" formControlName="designation" (change)="designationChange($event)">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let designation of designations" [value]="designation._id">{{designation.name}}
                        </option>
                    </select>
                    <div *ngIf="addForm.controls['designation'].invalid && (addForm.controls['designation'].dirty || addForm.controls['designation'].touched)"
                        class="error mt-2">
                        <div *ngIf="addForm.controls['designation'].errors['required']">
                            Designation is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3 col-md-4">
                    <label class="form-label">Employee <span class="error">*</span></label>
                    <select class="form-select" formControlName="employee">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let employee of employeesList" [value]="employee._id">{{employee.name}}</option>
                    </select>
                    <div *ngIf="addForm.controls['employee'].invalid && (addForm.controls['employee'].dirty || addForm.controls['employee'].touched)"
                        class="error mt-2">
                        <div *ngIf="addForm.controls['employee'].errors['required']">
                            Employee is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3 col-md-3">
                    <label class="form-label">Date <span class="error">*</span></label>
                    <div class="input-group">
                        <input matInput [matDatepicker]="picker" formControlName="date" [max]="today"
                            class="form-control me-3">
                        <div class="mr-2 tooglePicker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker" class="cls-btn"></mat-datepicker-toggle>
                        </div>
                        <mat-datepicker #picker startView="multi-year" (monthSelected)="setMonthAndYear($event, picker)"
                            panelClass="example-month-picker">
                        </mat-datepicker>
                    </div>
                    <div *ngIf="addForm.controls['date'].invalid && (addForm.controls['date'].dirty || addForm.controls['date'].touched)"
                        class="error mt-2">
                        <div *ngIf="addForm.controls['date'].errors['required']">
                            Date is required.
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mt-3 ps-0">
                    <button class="btn mt-3" (click)="filterEmployee(addForm)"
                        [disabled]="!addForm.valid">Filter</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-flud p-5 pt-3 ng-star-inserted">
        <div class="card">
            <div class="card-header"><i class="fas fa-users"></i> Employees List</div>
            <div class="card-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 ms-auto">
                            <div class="form-group mb-3">
                                <label class="control-label">Select For Everyone <span class="required">*</span></label>
                                <select name="mark_all_everyone" class="form-control select2-hidden-accessible"
                                    (change)="statusChange($event)" data-plugin-selecttwo="" data-width="100%"
                                    data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                    <option value="" selected="selected">Not Selected</option>
                                    <option value="P">Present</option>
                                    <option value="A">Absent</option>
                                    <option value="HD">Half Day</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive mb-sm mt-xs">
                                <table class="table table-bordered table-hover table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th width="80">Day</th>
                                            <th width="80">Date</th>
                                            <th width="400">Status</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let row of addForm.get('rows')['controls']  index as i">
                                            <ng-container *ngIf="i<=14">
                                                <td>{{row.get('_id').value}}</td>
                                                <td>{{row.get('date').value}}</td>
                                                <td>
                                                    <select name="mark_all_everyone" [formControl]="row.get('status')"
                                                        class="form-control select2-hidden-accessible"
                                                        onchange="selAtten_all(this.value)" data-plugin-selecttwo=""
                                                        data-width="100%" data-minimum-results-for-search="Infinity"
                                                        tabindex="-1" aria-hidden="true">
                                                        <option value="" selected="selected">Not Selected</option>
                                                        <option value="P">Present</option>
                                                        <option value="A">Absent</option>
                                                        <option value="HD">Half Day</option>
                                                    </select>
                                                </td>
                                                <td><input class="form-control" [formControl]="row.get('remark')"
                                                        name="Remarks" type="text" placeholder="Remarks" value="">
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive mb-sm mt-xs">
                                <table class="table table-bordered table-hover table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th width="80">Day</th>
                                            <th width="80">Date</th>
                                            <th width="400">Status</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let row of addForm.get('rows')['controls']  index as i">
                                            <ng-container *ngIf="i>14">
                                                <td>{{row.get('_id').value}}</td>
                                                <td>{{row.get('date').value}}</td>
                                                <td>
                                                    <select name="mark_all_everyone" [formControl]="row.get('status')"
                                                        class="form-control select2-hidden-accessible"
                                                        onchange="selAtten_all(this.value)" data-plugin-selecttwo=""
                                                        data-width="100%" data-minimum-results-for-search="Infinity"
                                                        tabindex="-1" aria-hidden="true">
                                                        <option value="" selected="selected">Not Selected</option>
                                                        <option value="P">Present</option>
                                                        <option value="A">Absent</option>
                                                        <option value="HD">Half Day</option>
                                                    </select>
                                                </td>
                                                <td><input class="form-control" [formControl]="row.get('remark')"
                                                        name="Remarks" type="text" placeholder="Remarks" value="">
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-default btn-block" (click)="saveEmployeeAttendance()"
                            name="save" value="1">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>